header{
    height: 15vh;
    
}
.navigation {
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: 10vh;
}
.menu {
    display: flex;
    margin-top: 5vh;
    
}
ul.menu li {
    list-style: none;
    padding: 10px 70px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 250ms ease-in-out;
}
ul.menu li:hover{
    transform: scale(1.1);
    border-color: black;
}
a {
    color: black;
    text-decoration: none;
}
